webquanao/.env
python_AI/app/logs
python_AI/app/data
webquanao/application/logs
webquanao/sessionsopenAI/application/config/visionai-455510-509eb91c20be.json
openAI/application/config/vision-key.json
# Google Cloud Credentials
openAI/application/config/vision*.json
